body{

}
.menu_simple{
    list-style: none;
    padding: 0;
    margin: auto;
    background: #d61c4e;
    width: 1085px;
}
.menu_simple li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 20px 80px;
    display: block;
}
.menu_simple li{
    display: inline-block;
    text-align: center;
}
.menu_simple li a:hover{
    background: #fac213;
}